.circleci
.nyc_output
.vscode
coverage
docs
node_modules
scripts/*
!scripts/Register-CLIM365Completion.ps1
src
types
.gitignore
CONTRIBUTING.md
commands.json
tsconfig.json
*.map
*.spec.js
test-projects