.circleci
.nyc_output
.vscode
.github
.c8rc.json
coverage
docs/**
!docs/docs/cmd/**
node_modules
scripts/*
!scripts/Register-CLIM365Completion.ps1
src
types
.gitignore
CONTRIBUTING.md
commands.json
tsconfig.json
*.map
*.spec.js
test-projects