name: Check PR

on: pull_request

jobs:
  build:
    if: github.repository_owner == 'pnp'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node: [16]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'
      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
          key: node_modules-${{ matrix.os }}-${{ matrix.node }}-${{ hashFiles('**/npm-shrinkwrap.json') }}
      - name: Restore dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run build
      - name: Compress output (non-Windows)
        if: matrix.os != 'windows-latest'
        run: tar -cvf build.tar --exclude node_modules ./
      - name: Compress output (Windows)
        if: matrix.os == 'windows-latest'
        run: 7z a -ttar -xr!node_modules -r build.tar .
      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-${{ matrix.os }}-${{ matrix.node }}
          path: build.tar
  test:
    if: github.repository_owner == 'pnp'
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        # node versions to run tests on
        nodeRun: [16]
        # node versions on which code was built and should be tested
        nodeBuild: [16]
        include:
          - os: ubuntu-latest
            nodeRun: 14
            nodeBuild: 16
          - os: ubuntu-latest
            nodeRun: 18
            nodeBuild: 16

    steps:
      - name: Configure pagefile
        if: matrix.os == 'windows-latest'
        uses: al-cheb/configure-pagefile-action@v1.3
        with:
          minimum-size: 16GB
          maximum-size: 16GB
          disk-root: "C:"
      - uses: actions/download-artifact@v3
        with:
          name: build-${{ matrix.os }}-${{ matrix.nodeBuild }}
      - name: Unpack build artifact (non-Windows)
        if: matrix.os != 'windows-latest'
        run: tar -xvf build.tar && rm build.tar
      - name: Unpack build artifact (Windows)
        if: matrix.os == 'windows-latest'
        run: 7z x build.tar && del build.tar
      - name: Use Node.js ${{ matrix.nodeRun }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.nodeRun }}
          registry-url: 'https://registry.npmjs.org'
      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
          key: node_modules-${{ matrix.os }}-${{ matrix.nodeBuild }}-${{ hashFiles('**/npm-shrinkwrap.json') }}
      - name: Restore dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Test with coverage
        # we run coverage only on Node@16
        if: matrix.nodeRun == 16
        run: npm test
      - name: Test without coverage
        # we want to run tests on older Node versions to ensure that code works
        if: matrix.nodeRun != 16
        run: npm run test:test
      - name: Compress output (non-Windows)
        if: matrix.nodeRun == 16 && matrix.os != 'windows-latest' && always()
        run: tar -cvf coverage.tar coverage
      - name: Compress output (Windows)
        if: matrix.nodeRun == 16 && matrix.os == 'windows-latest' && always()
        run: 7z a -ttar -r coverage.tar coverage
      - uses: actions/upload-artifact@v3
        if: matrix.nodeRun == 16 && always()
        with:
          name: coverage-${{ matrix.os }}-${{ matrix.nodeRun }}
          path: coverage.tar
  test_docs:
    if: github.repository_owner == 'pnp' && github.event.pull_request.base.ref != 'docs-migration'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -r docs/pip_requirements.txt
      - run: mkdocs build --strict
        working-directory: docs