name: Close stale issues

on:
  schedule:
    - cron: '0 0 * * 0' # runs weekly on Sunday at midnight


jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
            days-before-stale: 335
            days-before-close: 30
            stale-issue-message: 'This issue has been automatically marked as stale due to inactivity.'
            stale-issue-label: 'stale'
            close-issue-message: 'Close as not planned'
            close-issue-label: 'stale-closed'
            exempt-issue-labels: 'keep-open,epic'